<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      History of the Balances
    </mat-card-title>
  </mat-card-header>




  <mat-card-content class="dashboard-card-content">

    
      <div class="row">
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="300" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>


  </mat-card-content>
</mat-card>